.footer {
  width: 100%;
  border-top: 2px dashed silver;
  background: @sandy-beach;
  
  p {
    text-align: center;
    color: @font-color;
    font-size: 1.6rem;
    padding: 20px;
  }

  .img-container {
    display:none;
  }
  @media @mobile {
    .img-container {
      display:flex;
      justify-content: center;
      width: 60%;
      margin: 0 auto;
      img {
        .spin(10s, 6);
      }
    }
  }
}