// Mixins in here

// Animation mixins
.makeGrow(){
    .grow { transition: all .2s ease-in-out; }
    .grow:hover { transform: scale(1.1); }
    }
    

// Keyframes animation
@keyframes spinning {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(30deg);
    }
    50% {
      transform: rotate(0deg);
    }
    75% {
      transform: rotate(-30deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

.spin(@duration: 30s; @count: infinite) {
    animation-name: spinning;
    -webkit-animation-name: spinning; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: @duration; /* Safari 4.0 - 8.0 */
    animation-duration: @duration;
    animation-iteration-count: @count;
    animation-timing-function: linear;
}

// Cta-btn mixin

.cta-btn() {
    background: @button-bg;
    font-size: 2rem;
    color: @main-bg;
    text-align: center;
    padding: 1.2rem 0;
    border-radius: 8px;
    width: 80%;
    margin-top: 1.2rem;
    &:hover, &:active {
        background-color: darken(@button-bg, 10%);
    }
    @media @mobile {
        width: 100%;
    }
}